<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCy6nWzXe-3NfHNvQXRrYy8epjVQrYmsaY</string>
	<key>GCM_SENDER_ID</key>
	<string>858532355473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLearning</string>
	<key>PROJECT_ID</key>
	<string>flutter-learn-mmh</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-learn-mmh.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858532355473:ios:a0d1e3e2d8953d69780e30</string>
</dict>
</plist>